td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #2f3134; background-color: #efe8db; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #2f3134; background-color: #efe8db; padding-left: 5px; padding-right: 5px; }
pre .hll { background-color: #efe8db }
pre .c { color: #5f7685 } /* Comment */
pre .err { color: #b13f46 } /* Error */
pre .k { color: #2e6f4f } /* Keyword */
pre .o { color: #616670 } /* Operator */
pre .ch { color: #5f7685 } /* Comment.Hashbang */
pre .cm { color: #5f7685 } /* Comment.Multiline */
pre .cp { color: #9a6a41 } /* Comment.Preproc */
pre .cpf { color: #5f7685 } /* Comment.PreprocFile */
pre .c1 { color: #5f7685 } /* Comment.Single */
pre .cs { color: #5f7685 } /* Comment.Special */
pre .gd { color: #a34045 } /* Generic.Deleted */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gr { color: #b13f46 } /* Generic.Error */
pre .gh { color: #315e88 } /* Generic.Heading */
pre .gi { color: #2e7a58 } /* Generic.Inserted */
pre .go { color: #717171 } /* Generic.Output */
pre .gp { color: #315e88 } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { color: #72508f } /* Generic.Subheading */
pre .gt { color: #315e88 } /* Generic.Traceback */
pre .kc { color: #2e6f4f } /* Keyword.Constant */
pre .kd { color: #2e6f4f } /* Keyword.Declaration */
pre .kn { color: #2e6f4f } /* Keyword.Namespace */
pre .kp { color: #2e6f4f } /* Keyword.Pseudo */
pre .kr { color: #2e6f4f } /* Keyword.Reserved */
pre .kt { color: #8b3f57 } /* Keyword.Type */
pre .m { color: #616670 } /* Literal.Number */
pre .s { color: #9a4b3f } /* Literal.String */
pre .na { color: #7a6c2f } /* Name.Attribute */
pre .nb { color: #2e6f4f } /* Name.Builtin */
pre .nc { color: #315e88 } /* Name.Class */
pre .no { color: #8c4348 } /* Name.Constant */
pre .nd { color: #72508f } /* Name.Decorator */
pre .ni { color: #717171 } /* Name.Entity */
pre .ne { color: #a34045 } /* Name.Exception */
pre .nf { color: #315e88 } /* Name.Function */
pre .nl { color: #7a6c2f } /* Name.Label */
pre .nn { color: #315e88 } /* Name.Namespace */
pre .nx { color: #7a6c2f } /* Name.Other */
pre .py { color: #315e88 } /* Name.Property */
pre .nt { color: #2e6f4f } /* Name.Tag */
pre .nv { color: #4b4a83 } /* Name.Variable */
pre .ow { color: #72508f } /* Operator.Word */
pre .w { color: #bbbbbb } /* Text.Whitespace */
pre .mb { color: #616670 } /* Literal.Number.Bin */
pre .mf { color: #616670 } /* Literal.Number.Float */
pre .mh { color: #616670 } /* Literal.Number.Hex */
pre .mi { color: #616670 } /* Literal.Number.Integer */
pre .mo { color: #616670 } /* Literal.Number.Oct */
pre .sa { color: #9a4b3f } /* Literal.String.Affix */
pre .sb { color: #9a4b3f } /* Literal.String.Backtick */
pre .sc { color: #9a4b3f } /* Literal.String.Char */
pre .dl { color: #9a4b3f } /* Literal.String.Delimiter */
pre .sd { color: #9a4b3f } /* Literal.String.Doc */
pre .s2 { color: #9a4b3f } /* Literal.String.Double */
pre .se { color: #9a6a41 } /* Literal.String.Escape */
pre .sh { color: #9a4b3f } /* Literal.String.Heredoc */
pre .si { color: #825673 } /* Literal.String.Interpol */
pre .sx { color: #2e6f4f } /* Literal.String.Other */
pre .sr { color: #825673 } /* Literal.String.Regex */
pre .s1 { color: #9a4b3f } /* Literal.String.Single */
pre .ss { color: #4b4a83 } /* Literal.String.Symbol */
pre .bp { color: #2e6f4f } /* Name.Builtin.Pseudo */
pre .fm { color: #315e88 } /* Name.Function.Magic */
pre .vc { color: #4b4a83 } /* Name.Variable.Class */
pre .vg { color: #4b4a83 } /* Name.Variable.Global */
pre .vi { color: #4b4a83 } /* Name.Variable.Instance */
pre .vm { color: #4b4a83 } /* Name.Variable.Magic */
pre .il { color: #616670 } /* Literal.Number.Integer.Long */