pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre .hll { background-color: #ffffcc }
pre { background: #ffffff; }
pre .c { color: #008000 } /* Comment */
pre .err { color: #FF0000 } /* Error */
pre .k { color: #0000ff } /* Keyword */
pre .ch { color: #008000 } /* Comment.Hashbang */
pre .cm { color: #008800 } /* Comment.Multiline */
pre .cp { color: #0000ff } /* Comment.Preproc */
pre .cpf { color: #008000 } /* Comment.PreprocFile */
pre .c1 { color: #008800 } /* Comment.Single */
pre .cs { color: #008800 } /* Comment.Special */
pre .ge { font-style: italic } /* Generic.Emph */
pre .gh { font-weight: bold } /* Generic.Heading */
pre .gp { font-weight: bold } /* Generic.Prompt */
pre .gs { font-weight: bold } /* Generic.Strong */
pre .gu { font-weight: bold } /* Generic.Subheading */
pre .gt { font-weight: bold } /* Generic.Traceback */
pre .kc { color: #0000ff } /* Keyword.Constant */
pre .kd { color: #0000ff } /* Keyword.Declaration */
pre .kn { color: #0000ff } /* Keyword.Namespace */
pre .kp { color: #0000ff } /* Keyword.Pseudo */
pre .kr { color: #0000ff } /* Keyword.Reserved */
pre .kt { color: #2b91af } /* Keyword.Type */
pre .s { color: #a31515 } /* Literal.String */
pre .nc { color: #2b91af } /* Name.Class */
pre .ow { color: #0000ff } /* Operator.Word */
pre .sa { color: #a31515 } /* Literal.String.Affix */
pre .sb { color: #a31515 } /* Literal.String.Backtick */
pre .sc { color: #a31515 } /* Literal.String.Char */
pre .dl { color: #a31515 } /* Literal.String.Delimiter */
pre .sd { color: #a31515 } /* Literal.String.Doc */
pre .s2 { color: #a31515 } /* Literal.String.Double */
pre .se { color: #a31515 } /* Literal.String.Escape */
pre .sh { color: #a31515 } /* Literal.String.Heredoc */
pre .si { color: #a31515 } /* Literal.String.Interpol */
pre .sx { color: #a31515 } /* Literal.String.Other */
pre .sr { color: #a31515 } /* Literal.String.Regex */
pre .s1 { color: #a31515 } /* Literal.String.Single */
pre .ss { color: #a31515 } /* Literal.String.Symbol */