<!doctype html>
<html lang="en">
<title>  - Raymond ZHAO WENLONG</title>
<link rel="stylesheet" href="/static/style.css">

<nav>
    <h1><small><a href="index">Raymond ZHAO WENLONG</a></small></h1>
    <ul>
        <li><a href="index"> Blog </a>


    </ul>
</nav>

<section class="content">
    <!--
    <header>
        
      </header>
      -->
    
<ul>
    

    

    <article class="post">
        <h4>
            <a href="/">Hello, World!
                <label class="date"> - 2021-03-13</label></a> <br />
            

            

            <small>
                <a href="/">
                    <label class=" tag">#test</label></a>
            </small>

            

            <small>
                <a href="/">
                    <label class=" tag">#hello</label></a>
            </small>

            

            

            

        </h4>
    </article>
    
    
</ul>



</section>


<div class="footer">
    <ul>
        <small>&copy; zhaowenlong 2021</small>
    </ul>
</div>