{% extends "base.html" %}

{% block content %}
<ul>
  {% if posts|length > 0 %}
  {% for post in posts %}

  {% if post.title != 'Slides'
  and post.title != 'About'
  and post.title != 'Bookshelf'
  and post.title != 'link'
  and post.title != 'invest'
  and post.title != 'docs'
  and post.title != 'Mini-project'
  and post.title != 'business' %}

  <article class="post">
    <h4>
      <a href="/{{post.path}}/{{post.stem}}">{{ post.title }}
        <label class="date"> - {{ post.date }}</label></a> <br />
      {% if post.tags |length %}

      {% for tag in post.tags if tag|trim != 'home' %}

      <small>
        <a href="/{{tag|trim}}">
          <label class="tag">#{{ tag|trim }}</label></a>
      </small>

      {% endfor %}

      {% endif %}

      {% if post.categories %}

      {% for tag in post.categories if tag|trim != 'home' %}

      <small>
        <a href="/{{tag|trim}}">
          <label class="tag">#{{ tag|trim }}</label></a>
      </small>

      {% endfor %}

      {% endif %}

    </h4>
  </article>
  {% endif %}
  {% endfor %}
  {% endif %}
</ul>
{% endblock content %}